/**
 * @file
 * Styles related crops as a list of links inside the Manual Crop interface.
 */

.truecrop-related-crops {
  background-color: #fafafa;
  color: black;
  min-width: 200px;
}

.truecrop-related-crops .truecrop-menu-tree {
  max-height: 350px;
  overflow: scroll;
}

.truecrop-related-crops .active-trail {
  background-color: #ffffcc;
}

.truecrop-related-crops fieldset {
  border: none;
  margin: 0;
}

.truecrop-related-crops .fieldset-wrapper {
  padding: 0;
}

.truecrop-related-crops legend {
  width: 100%;
}

.truecrop-related-crops .fieldset-legend {
  font-size: 1.25em;
  font-style: normal;
  font-weight: bold;
  margin: 0;
  padding: 5px;
  text-transform: none;
}

.truecrop-related-crops .truecrop-menu-tree-toggle {
  float: right;
  margin: 0;
  padding: 5px;
  position: relative;
}

.truecrop-related-crops .fieldset-description {
  padding: 0 5px 5px;
  font-style: italic;
  font-weight: normal;
}

.truecrop-related-crops .fieldset-wrapper a {
  border-color: black;
  border-style: solid;
  border-width: 2px 0 0;
  color: black;
  display: block;
  padding: 5px;
  text-decoration: none;
}

.truecrop-related-crops .fieldset-wrapper a:last-child {
  border-width: 2px 0;
}

.truecrop-related-crops .fieldset-wrapper a,
.truecrop-related-crops .fieldset-wrapper a:hover {
  text-decoration: none;
}

.truecrop-related-crops img {
  padding-right: 5px;
  vertical-align: middle;
}
